.static-header-style {
    background-color: #464c4f!important;
    height: 70px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.static-header-style p {
    color: white;
    text-align: center;
    padding-top: 20px;
    
  }
  .pagination.pg-blue .page-item.active .page-link {
      background-color: #4fa953!important;
  }

  